* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 4em;
}

body {
    margin : auto;
    color : white;
    background-image: url("../ressources/BlackBackground.jpg");
}

#titre{
    width : 100%;
    font-size: 1.5em;
    text-align: center;
}

#plateau_jeu {
    color :  #025309 ;
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 5px;
}

.image{
    height: 100%;
    max-width: 150px;
    object-fit: contain;
    border: solid 1px  #025309 ;
}

#choice_path{
    margin-top: 5%;
    height: 200px;
    display: flex;
    justify-content:  space-around;
    margin-bottom: 2%;
}

#choose_path {
    display: flex;
    justify-content:  space-around;
}

#choose_path button {
    background-color:  #025309 ;
    color: whitesmoke;
    padding: 15px;
    width: 100px;
    font-size: 1.3em;
    border-radius: 15%;
}

#choose_path button:hover {
    background-color:  #025309 ;
}