* {
    margin: 0;
    padding: 0;
}

.text{
    display: inline-block;
    font-size: 2em;
}

h1 {
    text-align: center;
    font-size: 4em;
}

body {
    margin : auto;
    color : white;
    background-image: url("../ressources/BlackBackground.jpg");
}

#hero{
    right:0px;
    top: 0px;
    background-color: gray;
    border: solid 2px #025309;
}

#monstre{
    right:0px;
    top: 0px;
    background-color: gray;
    border: solid 2px #025309;
}

.row{
    margin-top: 20px;
    padding-left: 10px;
}

#stat{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px;
}

.icon{
    height : 40px;
    width: 40px;
}

.iconPV{
    height : 20px;
    width: 20px;
    margin-right: 10px;
}
#titre{
    width : 100%;
    font-size: 1.5em;
    text-align: center;
}
#titre2{
    width : 100%;
    font-size: 1.5em;
    text-align: center;
}

#plateau_jeu {
    color :  #025309 ;
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 1%;
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 5px;
}

.image{
    height: 100%;
    max-width: 300px;
    object-fit: contain;
    border: solid 1px  #025309 ;
}

.blur:hover{
    opacity: 0.5;
}

#choice_path{
    margin-top: 5%;
    height: 400px;
    display: flex;
    justify-content:  space-around;
    margin-bottom: 2%;
}

#choose_path {
    display: flex;
    justify-content:  space-around;
}

#choose_path button {
    background-color:  #025309 ;
    color: whitesmoke;
    padding: 15px;
    width: 250px;
    font-size: 1.3em;
    border-radius: 15px;
}

#choose_path button:hover {
    background-color:  #025309 ;
}