* {
    margin: 0;
    padding: 0;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

.text{
    display: inline-block;
    font-size: 2em;
}

h1 {
    text-align: center;
    font-size: 4em;
}

body {
    margin : auto;
    color : white;
    background-image: url("../ressources/BlackBackground.jpg");
}

#hero{
    height: 80%;
    background-color: gray;
    border: solid 2px #025309;
    display: none;
}

#monstre{
    height: 80%;
    background-color: gray;
    border: solid 2px #025309;
    display: none;
}

.row{
    margin-top: 20px;
    padding-left: 10px;
}

#stat{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px;
}
.iconSpell{
    cursor: pointer;
    margin-right: 3px;
    height : 40px;
    width: 40px;
}
.spell1{
    cursor: pointer;
    position: absolute;
    margin-right: 180px;
    margin-top: 250px;
    height : 40px;
    width: 40px;
}
.spell2{
    cursor: pointer;
    position: absolute;
    margin-right: 90px;
    margin-top: 250px;
    height : 40px;
    width: 40px;
}
.spell3{
    cursor: pointer;
    position: absolute;
    margin-right: 0px;
    margin-top: 250px;
    height : 40px;
    width: 40px;
}

.icon{
    height : 40px;
    width: 40px;
}

.iconPV{
    height : 20px;
    width: 20px;
    margin-right: 10px;
}
#titre{
    width : 100%;
    font-size: 1.5em;
    text-align: center;
}

#enTete{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coinNumber{
    margin-left:2px;
    font-size:2em;
    text-align: center;
}
.coin{
    text-align: center;
    display: inline-block;
    font-size:1em;
    background-color: gray;
    padding: 15px;
    min-width: 5%;
    min-height: 5%;
    white-space: nowrap;
    border-radius: 100px;
}

.titre2{
    width : 100%;
    font-size: 1.5em;
    text-align: center;
}

#plateau_jeu {
    color :  #025309 ;
    display: block;
    width: 80%;
    height: 75vh;
    margin: auto;
    margin-top: 1%;
    background-color: white;
    padding: 40px;
    border-radius: 5px;
}

.image{
    height: 80%;
    max-width: 300px;
    object-fit: contain;
    border: solid 2px  #025309 ;
}

#message{
    display: none;/*flex*/
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    top : 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    font-size: 4em;
    font-weight: bold;
    color: whitesmoke;
}

#message div{
    background-image: url("../ressources/GreenBackground.jpg");
}

.noir{
    background-color: black!important;
}

.blur:hover{
    opacity: 0.5;
}

#choice_path{
    margin-top: 20px;
    height: 400px;
    display: flex;
    justify-content:  space-around;
    margin-bottom: 2%;
}
.choice{
    margin: 3px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content:  space-around;
    flex-direction: column;
}
#choice_path button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:  #025309 ;
    color: whitesmoke;
    padding: 15px;
    width: 250px;
    font-size: 1.3em;
    border-radius: 15px;
}

#choice_path button:hover {
    background-color:  #025309 ;
}